/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body {
    font-family: "Edu TAS Beginner", cursive;
}

header {
    background-image: url(../img/wall.png);
    padding: 2rem 0;

    h1 {

        font-size: 4.5rem;
        font-weight: bold;
        height: 100%;
    }
}

main {
    background-image: url(../img/cork.png);
    padding-top: 2rem;
}

/* UTILS */

/* CARD */


.polaroid {
    position: relative;
    padding: 1.5rem;
    background-color: #fff;

    p:first-of-type {
        font-family: "Sometype Mono", monospace;
        color: gray;
        padding-top: 1rem;
        
    }

    .user-img {
        width: 100%;
    }

    p {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 0;
    }

    .pin {
        width: 30px;
        position: absolute;
        top: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* MEDIA QUERY */

@media screen and ( max-width: 1200px ){
    header h1{
        font-size: 4.2rem;
    }
}

@media screen and ( max-width: 992px ){
    header h1{
        font-size: 4rem;
    }
}
@media screen and ( max-width: 768px ){
    header h1{
        font-size: 3.5rem;
    }
}
@media screen and ( max-width: 576px ){
    header h1{
        font-size: 3rem;
    }
}